<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>블로그 글</title>
</head>
<body>
<header>
    <h1>게시판</h1>
<!--    <h2 th:text="${article.id}번 텍스트"> </h2>-->
</header>
<main>
    <article>
        <h3 th:text="${article.title}"></h3>
        <span class="text-muted fst-italic mb-2" th:text="|last updated: ${#temporals.format(article.updateTime,'yyyy-MM-dd HH:mm:ss')}|"></span>
        <p th:text="${article.content}"></p>
        <input type="hidden" id="article-id" th:value="${article.id}">

        <button th:onclick="|location.href='@{/new-article?id={articleId}(articleId=${article.id})}'|">수정</button>
        <button id="delete-btn" type="button">삭제</button>

        <script defer src="/script/script.js"></script>

        <div class="card-footer">

            <input type="text" id="comment-input" placeholder="댓글을 입력해 주세요" required>
            <button id="post-comment">작성</button>

            <ul th:each="comment : ${comments}">
                <li th:text="${comment.comment}" class="comment"></li>
                <p th:text="${comment.date}"></p>
                <input type="hidden" class="comment-id" th:value="${comment.id}">
                <button type="button" class="update-comment">댓글 수정</button>
                <button type="button" class="delete-comment">댓글 삭제</button>
                <input th:value="${comment.comment}" class="change-comment" style="visibility: hidden">
                <button type="button" class="update-comment-execute" style="visibility: hidden">수정</button>
            </ul>
        </div>

    </article>

</main>
<footer>
    <a href="http://localhost:8080/articles">사이트</a>
</footer>
</body>
</html>